.glyphicon-feedback {
  position: fixed;
  right: 15px;
  bottom: 10px;
  top: auto;
  cursor: pointer;
  font-size: 2em;
}

.feedback-container {
  position: fixed;
  right: 10px;
  bottom: 60px;
  padding: 10px;
  background-color: lightgreen;
  display: none;
}